p.title-page-company-name {
    font-size: 2rem;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

div.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.title-page-img {
    height: 65%;
    width: 65%;
    max-height: 450px;
    max-width: 450px;
}