body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div.slick-slider:nth-child(2) div.slick-list {
  transition: all 0.5s;
  overflow-y: hidden;
  /* I hate using important but it was the only way 🤷‍ */
  height: 500px !important;
}

ul.slick-dots {
  bottom: 75px;
}

.slick-slide {
  z-index: 0;
}

.slick-slide.slick-active.slick-center.slick-current {
  z-index: 999999;
}

ul.slick-dots li {
  width: 30px;
}

ul.slick-dots .slick-active {
  background-color: lightgrey;
  border-radius: 15px;
}
